[submodule "Tools"]
	path = Tools
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/Tools.git
[submodule "FITK_Kernel/FITKCore"]
	path = FITK_Kernel/FITKCore
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Kernel/FITKCore.git
[submodule "FITK_Kernel/FITKAppFramework"]
	path = FITK_Kernel/FITKAppFramework
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Kernel/FITKAppFramework.git
[submodule "FITK_Kernel/FITKAdaptor"]
	path = FITK_Kernel/FITKAdaptor
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Kernel/FITKAdaptor.git
[submodule "FITK_Kernel/FITKPython"]
	path = FITK_Kernel/FITKPython
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Kernel/FITKPython.git
[submodule "FITK_Interface/FITKInterfaceFlowOF"]
	path = FITK_Interface/FITKInterfaceFlowOF
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Interface/FITKInterfaceFlowOF.git
[submodule "FITK_Interface/FITKInterfaceGeometry"]
	path = FITK_Interface/FITKInterfaceGeometry
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Interface/FITKInterfaceGeometry.git
[submodule "FITK_Interface/FITKInterfaceModel"]
	path = FITK_Interface/FITKInterfaceModel
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Interface/FITKInterfaceModel.git
[submodule "FITK_Interface/FITKInterfaceIO"]
	path = FITK_Interface/FITKInterfaceIO
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Interface/FITKInterfaceIO.git
[submodule "FITK_Interface/FITKInterfaceMesh"]
	path = FITK_Interface/FITKInterfaceMesh
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Interface/FITKInterfaceMesh.git
[submodule "FITK_Interface/FITKInterfaceMeshGen"]
	path = FITK_Interface/FITKInterfaceMeshGen
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Interface/FITKInterfaceMeshGen.git
[submodule "FITK_Interface/FITKInterfacePhysics"]
	path = FITK_Interface/FITKInterfacePhysics
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Interface/FITKInterfacePhysics.git
[submodule "FITK_Interface/FITKVTKAlgorithm"]
	path = FITK_Interface/FITKVTKAlgorithm
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Interface/FITKVTKAlgorithm.git
[submodule "FITK_Component/FITKGeoCompOCC"]
	path = FITK_Component/FITKGeoCompOCC
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Component/FITKGeoCompOCC.git
[submodule "FITK_Component/FITKRenderWindowVTK"]
	path = FITK_Component/FITKRenderWindowVTK
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Component/FITKRenderWindowVTK.git
[submodule "FITK_Component/FITKWidget"]
	path = FITK_Component/FITKWidget
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Component/FITKWidget.git
[submodule "FITK_Component/FITKCompMessageWidget"]
	path = FITK_Component/FITKCompMessageWidget
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Component/FITKCompMessageWidget.git
[submodule "FITK_Component/FITKOCC2VTKGraphAdaptor"]
	path = FITK_Component/FITKOCC2VTKGraphAdaptor
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Component/FITKOCC2VTKGraphAdaptor.git
[submodule "FITK_Component/FITKMeshGenOF"]
	path = FITK_Component/FITKMeshGenOF
	url = https://codeup.aliyun.com/64fad925ce01efaafef1e9f3/FastCAE_IntTK/FITK_Component/FITKMeshGenOF.git
